.login-form{
   width: 100%;
   display: flex;
   justify-content: center;
   margin: auto;
   
    
}
.form-information{
    margin: 30px 30px;
    width: 450px;
    text-align: center;
    box-shadow: 10px 10px 10px 10px rgb(189, 187, 187);
    border-radius: 6px;
    padding: 10px;
  
}
.form-information input{
    width: 420px;
    margin-top:30px;
}
input[type="submit"]{
    width: 300px;
    height: 40px;
    border-radius: 20px;
    background-color:#183153;
    color: white;
    font-weight: 600;
    font-size: 1.1em;
}

.google-icon{
    font-size: 20px;
    margin-right: 10px;
}
.google-btn{
    width: 300px;
    height: 40px;
    border-radius: 20px;
    background-color:#183153;
    color: white;
    font-weight: 600;
    font-size: 1.1em;

}
.form-information h3{
    max-width: 200px;
    text-align: center;
    margin: auto;
    position: relative;
}
.form-information h3::before{
    content: '';
    width: 70px;
    height: 2px;
    display: block;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 0;
}
.form-information h3::after{
    content: '';
    width: 70px;
    height: 2px;
    display: block;
    background-color: black;
    position: absolute;
    top: 50%;
    right: 0;
}