.footer{
    background-color: rgb(209, 207, 207);
    /* margin-top: 30px; */
    
}
.footer-container{
    width: 92%;
    margin: 0 auto;
    padding: 30px;
}
.footer-content{ 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}
.footer-content >h4{
    text-align: center;
}
.footer-content ul li{
    list-style: none;
    font-size: 1em;
    font-weight: 500;
}